.DS_Store
week04/Flask Application.docx
week05/simpleFlask
week05/Flask Application.docx
week06/data/
week06/process.csv.gz/0.part
week06/process.csv.gz/1.part
week06/process.csv.gz/2.part
week06/process.csv.gz/3.part
week06/process.csv.gz/4.part
week06/process.csv.gz/5.part
